<% include ../partials/header %>
<% include ../partials/side %>

<div id="wrapper">
    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel ">
                    <div id="chat-to" class="panel-heading hbuilt">
                        Chat
                    </div>
                    <div class="panel-body no-padding">


                        <div class="row">

                            <div class="col-md-9 ">
                                <div class="chat-discussion" id="messages">
                                   <!-- <div class="chat-message left">
                                        <img class="message-avatar" src="images/a2.jpg" alt="" >
                                        <div class="message">
                                            <a class="message-author" href="#"> Michael Smith </a>
                                            <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="chat-users">
                                    <div class="users-list" id="online-users">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" id="message" placeholder="Type your message here...">
                            <input type="hidden" id="to-user">
                            <span class="input-group-btn">
                            <button id="send" class="btn btn-success">
                                Send</button>
                        </span>
                        </div>
                    </div>

                </div>


            </div>

        </div>


    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>


    var img = "<%= user.image %>";
    var user_name = "<%= user.name %>";
    var user_id = "<%= user.id %>";
    var user_ids = {};
    var online_users = {};
    //user_ids.push(user_id);
    var socket = io();

    $(function() {

        $("#send").click(function(){
            //sendMessage({message: $("#message").val()});
            sendMessage({user_name:user_name,from_id:user_id,to_id:$("#to-user").val(),user_image:img,message: $("#message").val()});
            $("#message").val('');
        });

        getConnectedUserList();

        $("#message").bind('keypress', function () {
            console.log({from_id:user_id,to_id:$("#to-user").val()})
            socket.emit('typing',{from_id:user_id,to_id:$("#to-user").val()});
        });
    });

    socket.emit("add-user", {"user_id":user_id,"user_name": user_name,"user_image":img});
    socket.on('add-message', addMessages);
    socket.on('onine-user', getOnlineUser);

    socket.on('typing',function (data) {
        console.log(data)
       socket.broadcast.emit('typing', {username:socket.username})
    });


   function getOnlineUser(users) {
       online_users = users;

       $.each( user_ids, function( key, value ) {
           $("#"+value._id).children('span').html('<span class="pull-right label label-default">Offline</span>');
       });

       $.each( users, function( key, value ) {
           $("#"+key).children('span').html('<span class="pull-right label label-success">Online</span>');
       });
   }

   //Append message in view
    function addMessages(message){
        if(message.user_name == user_name){
            var AddChat = '<div class="chat-message right"><img class="message-avatar" src="img/'+message.user_image+'" alt="" ><div class="message">'+message.user_name+'<span class="message-content"></span>'+ message.message+'</div></div>';
        } else{
            var AddChat = '<div class="chat-message left"><img class="message-avatar" src="img/'+message.user_image+'" alt="" ><div class="message">'+message.user_name+'<span class="message-content"></span>'+ message.message+'</div></div>';
        }
        $("#messages").append(AddChat);
    }


    //Send message
    function sendMessage(message){
        socket.emit("private-message", message);
        //$.post('http://localhost:3000/chat', message)
    }

    //Get online user list
    function getAppeareConnectedUser(usrlist) {
        //Reset user online user list
        $("#online-users").html('');
        user_ids = usrlist;

        //Append online user in online list
        $.each( usrlist, function( key, value ) {
            var userDetail = '<div class="chat-user" id="'+value._id+'"><span id="online-status"><span class="pull-right label label-default">Offline</span></span><img class="chat-avatar" src="img/'+value.user_image+'" alt="" ><div class="chat-user-name"><a href="javascript:selectUserToChat(\''+value._id+'\','+'\''+value.user_name+'\');">'+value.user_name+'</a></div></div>';

            if(key !=user_id)
            $("#online-users").append(userDetail);
        });

        $.each( online_users, function( key, value ) {
            $("#"+key).children('span').html('<span class="pull-right label label-success">Online</span>');
        });
    }

    //When user select than show his chat
    function selectUserToChat(uId, uName) {
        $("#chat-to").html('');
        $("#messages").html('');
        $("#chat-to").append(uName);
        $("#to-user").val(uId);

        jQuery.ajax({
            url:'chat-list',
            type: "post",
            data: {to_id: uId},
            success: function(data){
                $.each( data.data, function( key, value ) {
                    addMessages(value);
                });
            },
            error:function(){
                alert("failure");
            }
        });
    }

    function getConnectedUserList() {
        jQuery.ajax({
            url:'conntectes-users',
            async:false,
            success: function(data){
                getAppeareConnectedUser(data);
            },
            error:function(){
                alert("failure");
            }
        });
    }

</script>
<% include ../partials/footer %>