<!-- Navigation -->
<aside id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <a href="index.html">
        <img src="img/<%= user.image %>" width="75" id="userimage" class="img-circle m-b" alt="logo">
      </a>
      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase" id="username"><%= user.name %></span>

        <div id="sparkline1" class="small-chart m-t-sm">
        </div>
      </div>
    </div>

    <ul class="nav" id="side-menu">
      <li>
        <a href="index.html"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
      </li>
      <li>
        <a href="user">
          <span class="nav-label">User</span>
        </a>
      </li>
      <li>
        <a href="event">
          <span class="nav-label">Events</span>
        </a>
      </li>
      <li>
        <a href="#"><span class="nav-label">Forms</span><span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level">
          <li><a href="forms_elements.html">Forms elements</a></li>
          <li><a href="forms_extended.html">Forms extended</a></li>
          <li><a href="text_editor.html">Text editor</a></li>
          <li><a href="wizard.html">Wizard</a></li>
          <li><a href="validation.html">Validation</a></li>
        </ul>
      </li>
      <li>
        <a href="options.html"> <span class="nav-label">Layout options</span></a>
      </li>
      <li>
        <a href="grid_system.html"> <span class="nav-label">Grid system</span></a>
      </li>
      <li>
        <a href="landing_page.html"> <span class="nav-label">Landing page</span></a>
      </li>
      <li>
        <a href="package.html"> <span class="nav-label">Package</span></a>
      </li>

    </ul>
  </div>
</aside>